<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SciDB &mdash; {{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>

<p>Published on {{ date | date("MMMM d, YYYY") }}.</p>

<h2>Authors</h2>
<ul>
    {% for author in authors %}
    <li>{{ author }}</li>
    {% endfor %}
</ul>

<h2>Abstract</h2>
<p>{{ abstract }}</p>

</body>
</html>