<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SciDB Browser</title>
</head>
<body>
<h1>Article Browser</h1>
<p>The database has {{ articleCount }} articles in {{ publications.size() }} publications.</p>
<h2>Publications</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th># Issues</th>
        <th># Articles</th>
    </tr>
    </thead>
    <tbody>
    {% for pub in publications %}
    <tr>
        <td><a href="/pubs/{{ pub.id }}/">{{ pub.title }}</a></td>
        <td>{{ pub.issueCount }}</td>
        <td>{{ pub.articleCount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>