<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SciDB &mdash; {{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<h2>Search Issues</h2>
<form action="/search" method="GET">
    <input type="hidden" name="pub" value="{{ pubId }}">
    <label>Search Keywords: <input type="search" name="q"></label>
    <button type="submit">Search</button>
</form>
<h2>Issues</h2>
<ul>
    {% for issue in issues %}
        <li><a href="/pubs/{{ pubId }}/issues/{{ issue.id }}/">{{ issue.title }}
        {% if issue.volume != null %}Vol. {{ issue.volume }}{% endif %}
        {% if issue.number != null %}No. {{ issue.number }}{% endif %}</a> ({{ issue.date }})</li>
    {% endfor %}
</ul>
</body>
</html>